/* Reset some default styles */
body, h1, h2, button {
    margin: 0;
    padding: 0;
}


/* Style the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Style the main content area */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

/* Style each section */
section {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style section headings */
h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Style the "Generate Config" button */
button {
    background-color: #000000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Arrange buttons and settings side by side */
.widget-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add spacing between rows */
}

/* Arrange buttons and settings side by side */
.settings-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add spacing between groups */

}

/* Style for buttons in the widget */
.widget button {
    background-color: #05080a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Add some spacing between buttons and settings */
.widget {
    margin-right: 10px;
}

.settings-label {
    font-size: 16px;
}

/* Style for horizontal arrangement of global settings buttons */
.global-settings-buttons {
    display: flex;
    gap: 20px; /* Adjust the gap as needed */
}


/* Add more custom styles as needed */
